.detail_jss {
    width: 700px;
    border: 3px solid #ACA9A9;
    border-radius: 10px;
    margin-top: 40px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
}

h2 {
    margin-top: 5px;
    text-align: center;
}

.jss_time {
    float: right;
    font-size: 13px;
    color: #818699;
    margin-right: 10px;
}

#draw_hr, hr {
    border-bottom: 3px dashed #535151;
}

#jss_content {
    margin-top: 15px;
}

.comment {
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
}

form {
    margin-bottom: 10px;
}