{% extends 'base.html' %}
{% load static %}

{% block title %}자기소개서 작성{% endblock %}
{% block link %}{% static 'css/create.css' %}{% endblock %}

{% block content %}

<div align="center">
    <h2>자기소개서 작성</h2>

    <form method="POST" action="">
        {% csrf_token %}
        <div class="create_jss">
            <table>
                {{jss_form.as_table}}
            </table>

            <div class="counted_text">글자 수 : </div>
            <script src="{% static 'js/count.js' %}"></script>
        </div>

        <button type="submit"><img src="{% static 'images/check.png' %}"></button>
    </form>
</div>

{% endblock %}