{% extends 'base.html' %}
{% load static %}

{% block title %}자소설닷컴{% endblock %}
{% block link %}{% static 'css/home.css' %}{% endblock %}

{% block content %}

<div align="center">
    {% if user.is_authenticated %}
    <a href="{% url 'my_index' %}">
        <button>내 자기소개서만 보기</button>
    </a>
    <a href="{% url 'home' %}">
        <button>모든 자기소개서 보기</button>
    </a>
    {% endif %}
    
    <br>
    
    <table>
        <tr>
            {% for jss in all_jss %}
            <td>
                <a href="{% url 'detail' jss.id%}">
                    <div class="all_jss">
                        <p>{{jss.author}}</p>
                        <p>{{jss.title}}</p>
                        <p>{{jss.content}}</p>
                        <p>{{jss.updated_at|date:"Y-m-d"}}</p>
                    </div>
                </a>
            </td>
            {% endfor %}
        </tr>
    </table>
</div>

{% endblock %}
